<h1>Test</h1>



<div *ngFor="let menuRoot of guiMenu; let i of index;">
  <!-- Menu[0] & children -->
  <div *ngIf="menuRoot.children">
    <mat-menu #i="matMenu" xPosition="after">
      <div *ngFor="let menuChild of menuRoot.children; let j of index;">
        <!-- Menu[1] & Children -->
        <div *ngIf="menuChild.children">
          <mat-menu #j="matMenu">
            <div *ngFor="let menuSecondChild of menuChild.children">
              <!-- Just Menu [2] -->
              <button mat-menu-item>{{menuSecondChild.title}}</button>
            </div>
          </mat-menu>
          <button mat-menu-item [matMenuTriggerFor]="j">{{menuChild.title}}</button>
        </div>
        <!-- Just Menu[1] -->
        <div *ngIf="!menuChild.children">
          <button mat-menu-item>{{menuChild.title}}</button>
        </div>
      </div>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="i">{{menuRoot.title}}</button>
  </div>
  <!-- Just Menu[0] -->
  <div *ngIf="!menuRoot.children">
    <button mat-button>{{menuRoot.title}}</button>
  </div>
</div>
